{# /templates/form/form_row.html.twig #}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {%- set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' input-field')|trim}) -%}
    {%- if errors is not empty -%}
        {%- set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' errors')|trim}) -%}
    {%- endif -%}

    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}