{# @app/pages/rf/_nav.html.twig #}

<div class="page-nav">
	<div class="container">
		<div class="row">
		  <div class="col-sm">
		    <ul class="nav">
				  <li class="nav-item">
				    <img src="{{ asset('img/rf_myactu/logo.png') }}"/>
				    <i>Votre veille juridique et financière sur mesure</i>
				  </li>
				</ul>
		  </div>
		  <div class="col-sm">
		    {{ include('@app/menu/_menu_user.html.twig') }}
		  </div>
		</div>
		<div class="row">
		  <ul class="nav justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'rf_myactu__home' ? 'active' : '' }}" aria-current="page" href="{{ path('rf_myactu__home') }}">Accueil</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Actu en continu</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Incontournables</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">3' en images</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Evenements</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Notre Expertise</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Tarifs</a>
			  </li>
			</ul>
		</div>
		<div class="row">
		  <form class="d-flex">
	      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success" type="submit">Search</button>
	    </form>
		</div>
	</div>
</div>


