{# @bo/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,minimum-scale=1">

	<title>{% block title %}BO{% endblock %}</title>

	{% block stylesheets %}
		<!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <style type="text/css">
	    	nav .nav-title {
			    font-size: 25px;
			    padding: 5px 60px;
			}
			.rf-green{
				background-color:#006e49;
			}
	    </style>
	{% endblock %}

	{% block javascripts %}
	    <!-- Compiled and minified JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	    <script type="text/javascript">
	    	document.addEventListener('DOMContentLoaded', function() {
			    var elems = document.querySelectorAll('.sidenav');
			    var instances = M.Sidenav.init(elems, {});
			});
	    </script>
	{% endblock %}

</head>
<body>
	{% block nav_content %}
		<nav class="{{ page_title is defined ? 'nav-extended' : '' }} rf-green">
			{{ include('@bo/nav.html.twig') }}
			{% if page_title is defined %}
				<div class="nav-content">
			    <span class="nav-title">{{ page_title }}</span>
			    {% if add_item_url is defined %}
				    <a href="{{ add_item_url }}" class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
				      <i class="material-icons">add</i>
				    </a>
				  {% endif %}
			  </div>
			{% endif %}
		</nav>
	{% endblock %}

	{{ include('@bo/sidenav.html.twig') }}

	{% block body %}{% endblock %}
</body>
</html>