{# @app/pages/rf/_nav.html.twig #}

<div class="page-nav">
	<div class="container">
		<div class="row">
		  <div class="col-sm">
		    <ul class="nav">
				  <li class="nav-item">
				    <img src="{{ asset('img/rf_premium/logo.png') }}"/>
				    <i>La base documentaire pluridisciplinaire de la Revue Fiduciaire</i>
				  </li>
				</ul>
		  </div>
		  <div class="col-sm">
		    {{ include('@app/menu/_menu_user.html.twig') }}
		  </div>
		</div>
		<div class="row">
		  <ul class="nav justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'rf_premium__home' ? 'active' : '' }}" aria-current="page" href="{{ path('rf_premium__home') }}">Accueil</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Actualites</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Documentation Experte</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Outils &amp; Logiciels</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Sources Officielles</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">+</a>
			  </li>
			</ul>
		</div>
		<div class="row">
		  <form class="d-flex">
	      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success" type="submit">Search</button>
	    </form>
		</div>
	</div>
</div>


