{# @app/pages/rf/_rf_nav.html.twig #}

<div class="page-nav">
	<div class="container">
		<div class="row">
		  <div class="col-sm">
		    <ul class="nav">
				  <li class="nav-item">
				    <img src="{{ asset('img/baseline_RF.B.png') }}"/>
				  </li>
				</ul>
		  </div>
		  <div class="col-sm">
		    {{ include('@app/menu/_menu_user.html.twig') }}
		  </div>
		</div>
		<div class="row">
		  <ul class="nav justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'rf__home' ? 'active' : '' }}" aria-current="page" href="{{ path('rf__home') }}">Accueil</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'rf__our_values' ? 'active' : '' }}" href="{{ path('rf__our_values') }}">Qui sommes nous ?</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Notre expertise</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">L'innovation</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Nos evenements</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Blog</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Nous rejoindre</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {{ app.request.attributes.get('_route') == 'route' ? 'active' : '' }}" href="#">Contact</a>
			  </li>
			</ul>
		</div>
		<div class="row">
		  <form class="d-flex">
	      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success" type="submit">Search</button>
	    </form>
		</div>
	</div>
</div>


