<ul class="nav justify-content-end">
  <li class="nav-item">
    <span>Je suis</span>
    <select class="form-select" aria-label="Default select example">
		  <option selected>Sans Profile</option>
		  <option value="1">One</option>
		  <option value="2">Two</option>
		  <option value="3">Three</option>
		</select>
  </li>
  <li class="nav-item divider"></li>
  <li class="nav-item">
  	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  		<div class="btn-group">
			  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			    {{ app.user.firstname }} {{ app.user.lastname|slice(0, 1)|capitalize }} 
			  </button>
			  <ul class="dropdown-menu">
			  	{% if is_granted('ROLE_ADMIN') %}
			    	<li><a class="dropdown-item" href="{{ path('bo__dashboard') }}">Back Office</a></li>
			    {% endif %}
			    <li><a class="dropdown-item" href="#">...</a></li>
			    <li><a class="dropdown-item" href="#">...</a></li>
			    <li><hr class="dropdown-divider"></li>
			    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Deconnecte</a></li>
			  </ul>
			</div>
  	{% else %}
			<div class="btn-group">
				{{ include('@app/security/_form_login_nav.html.twig') }}
			</div>
		{% endif %}
    	{# <a class="nav-link" href="#"></a> #}
  </li>
</ul>